CashMachine/bin/
CashMachine/out/
CashMachine/obj/
CashMachine/Debug/
CashMachine.Tests/bin/
CashMachine.Tests/out/
CashMachine.Tests/obj/
CashMachine.Tests/Debug/
packages/
CashMachineWeb/bin/
CashMachineWeb/out/
CashMachineWeb/obj/
CashMachineWeb/Debug/
